@import '../common.scss';

.bigger-font {
    font-size: 2rem;
}

.dice-select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .dice-select {
        .title {
            display: block;
            font-size: .8rem;
            border-bottom: solid 1px $primaryBG;
        }
        border: solid 1px $primaryBG;
        margin: .25rem;
        border-radius: .5rem;
        padding: 0 .25rem;
    }
}

body.retro {
    .dice-select-container {
        .dice-select {
            border: solid 1px $retroPrimaryBG;
            .title {
                border-bottom: solid 1px $retroPrimaryBG;
            }
        }
    }
}

body.desaturated {
    .dice-select-container {
        .dice-select {
            border: solid 1px $desaturatedPrimaryBG;
            .title {
                border-bottom: solid 1px $desaturatedPrimaryBG;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

.die {

        width: 8rem;
        height: 8rem;
        // border: solid 1px green;
        .die-bg {
            width: 8rem;
            height: 8rem;
            font-size: 7.5rem;
            line-height: 7.5rem;
            // border: solid 1px red;
        }
        .die-face {
            width: 8rem;
            height: 8rem;
            // border: solid 1px blue;
            .icon-single {
                font-size: 3.5rem;
                top: 2rem;
                left: 0;
                // border: solid 2px black;
                width: 8rem;
            }
            .icon-1 {
                font-size: 2rem;
                top: 2rem;
                left: 2.2rem;
            }
            .icon-2 {
                font-size: 2rem;
                top: 3.5rem;
                left: 3.75rem;
            }
        }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}