@import '../common.scss';

.bigger-font {
    font-size: 2rem;
}

.dice-select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .dice-select {
        .title {
            display: block;
            font-size: .8rem;
            border-bottom: solid 1px $primaryBG;
        }
        border: solid 1px $primaryBG;
        margin: .25rem;
        border-radius: .5rem;
        padding: 0 .25rem;
    }
}

body.retro {
    .dice-select-container {
        .dice-select {
            border: solid 1px $retroPrimaryBG;
            .title {
                border-bottom: solid 1px $retroPrimaryBG;
            }
        }
    }
}

body.desaturated {
    .dice-select-container {
        .dice-select {
            border: solid 1px $desaturatedPrimaryBG;
            .title {
                border-bottom: solid 1px $desaturatedPrimaryBG;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}