@import '../common.scss';

.control-bar {
    display: flex;
    margin: 0 0 1rem 0;
    width: 100%;
    div {
        padding: 0 .25rem;
        &.grow {
            flex-grow: 1;
        }

        button {
            width: 100%;

        }
    }

}
.round-number {
    text-align: left;
}
.control-visibility
{
    text-align: center;
}
.init-labels {
    position: relative;
    max-width: 100%;

    .init-map-item {
        display: flex;
        font-size: 1rem;
        max-width: 100%;
        margin: 0 0 .25rem 0;
        padding: .25rem;
        border: solid 2px transparent;
        border-radius: 1rem;
        position: relative;
        &.current {
            border: solid 2px $headerFooterBG;
            background: $headerFooterBG;
        }
        .label {
            border-radius: 1rem;
            flex-grow: 1;
            line-height: 1.2rem;
            padding: 1rem;
            text-align: left;
            vertical-align: middle;
            // padding-left: 25%;
            display: flex;
            position: relative;
            max-width: 100%;

            .name-results {
                // display: block;
                min-width: 8rem;
                text-align: center;
                flex-grow: 1;
            }
            .skill-values {
                flex-grow: 2;
                text-align: right;
                // border-left: solid 2px #fff;
                // display: block;
                // padding-left: 1rem;
                // margin-left: 1rem;
                font-size: 1rem;
                .dice {
                    padding: 0 !important;
                }
            }
            &.npc {
                background-color: #751317;
                color: #fff;
            }
            &.pc {
                background-color: #46ac4e;
                color: #fff;
            }
            .icon-single {
                font-size: 1rem;
                font-family: Genesys;
                &.starwars {
                    font-family: EOTE !important;
                }
            }
            .triumphs,
            .successes,
            .advantages {
                margin: 0 .25rem;
                text-align: center;
                span {
                    font-size: .7rem;
                    display: block;
                    text-align: center;
                }
                select {
                    max-width: 3rem;
                    padding: .5rem .5rem;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    background: $bodyBG;
                    color: $bodyFG;
                }
            }
        }
        

        .controls {
            margin: 0;
            svg {
                height: 2rem;
                width: 2rem;
            }
        }
    }
}
body.retro {
    .init-map-item {
        &.current {
            border: dotted 2px $retroPrimaryBG;
            background: transparent;
        }
    }

}

body.desaturated {
    .init-map-item {
        &.current {
            border: solid 2px $desaturatedSecondaryBGHover;
            background: $desaturatedSecondaryBGHover;
        }
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .round-number {
        text-align: left;
    }
    .control-visibility
    {
        text-align: right;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .control-bar {
        div {
            padding: 0 1rem;
        }
    }
    .init-map-item {
        font-size: 2rem;
        .successes,
        .triumphs,
        .advantages {
            margin: 0 1rem;
            select {
                max-width: 4rem;
            }
        }
    }
}