/* Dice and Symbols */
@font-face {
    font-family: 'Genesys';
    src: url('../fonts/genesys-font.woff');
}
.symbols {
    font-family: Genesys;
}
@font-face {
font-family: 'EOTE';
src: url('../fonts/eote-font.woff');
}

@mixin bigger-dice {
    width: 8rem;
    height: 8rem;
    // border: solid 1px green;

    .die-bg {
        width: 8rem;
        height: 8rem;
        position: absolute;
        left: -.5rem;
        top: -.5rem;

        font-size: 7.5rem;
        line-height: 7.5rem;
        // border: solid 1px red;
    }
    &.die-difficulty,
    &.die-ability {
        .die-bg {
            left: 0rem;
        }
    }
    &.die-boost,
    &.die-setback {
        .die-bg {
            left: 0rem;
        }
    }
    .die-face {
        width: 8rem;
        height: 8rem;
        // border: solid 1px blue;
        .icon-single {
            font-size: 3.5rem;
            top: 1.35rem;
            left: 0;
            width: 8rem;
        }
        .icon-1 {
            font-size: 2rem;
            top: 2rem;
            left: 2.2rem;
        }
        .icon-2 {
            font-size: 2rem;
            top: 3.25rem;
            left: 3.75rem;
        }
    }
}

.dice {
    font-family: EOTE;
}
.die-setback {
    font-family: EOTE;
    color: black;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}
.note .setback, .note .boost, .note .challenge, .note .proficiency, .note .difficulty, .note .ability {
    text-shadow: -1px 0 #ffffff,0 1px #ffffff,1px 0 #ffffff,0 -1px #ffffff;
}
.note  td > .setback, .note td > .boost, .note td > .challenge, .note td > .proficiency, .note td >  .difficulty, .note td.ability {
    text-shadow:  -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}
.die-boost {
    font-family: EOTE;
    color: #76CDDB;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
    padding: 0;
}
.die-challenge {
    font-family: EOTE;
    color: #751317;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}
.die-proficiency {
    font-family: EOTE;
    color: #FEF035;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
    padding: .5rem;
}
.die-difficulty {
    font-family: EOTE;
    color: #52287E;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}
.die-ability {
    font-family: EOTE;
    color: #46AC4E;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}
.die-force {
    font-family: EOTE;
    color: #fff;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}
.die {

    .raw-roll {
        display: none;
        position: absolute;
        bottom: -1.5rem;
        left: 3.5rem;
        color: #fff;
    }
    position: relative;
    width: 4rem;
    height: 4rem;
    // border: solid 1px red;
    display: inline-block;
    .die-bg {
        font-family: EOTE;
        text-align: center;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 4rem;
        height: 4rem;
        display: inline-block;
        font-size: 3.25rem;
        padding: 0;
        margin: 0;
        line-height: 3.25rem;
    }

    .die-face {
        text-align: center;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 4rem;
        height: 4rem;
        // border: solid 1px green;
        display: inline-block;
        font-family: Genesys;
        color: #fff;
        &.starwars {
            font-family: EOTE !important;
        }
        .icon-single {
            position: absolute;
            font-size: 1.5rem;
            padding: 0;
            margin: 0;
            top: .75rem;
            left: 1.2rem;
        }
        .icon-1 {
            position: absolute;
            font-size: 1rem;
            padding: 0;
            margin: 0;
            top: 1rem;
            left: 1.1rem;
        }
        .icon-2 {
            position: absolute;
            font-size: 1rem;
            padding: 0;
            margin: 0;
            top: 1.5rem;
            left: 1.75rem;
        }
    }
    &.die-force {
        .die-face {
            color: #000 !important;
        }
    }

    &.bigger {
        @include bigger-dice;
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .die {
        @include bigger-dice;
    }
}