$fontSize: 14px;


$lightBG: #fdfde3;
$lightBGHover: #cacab4;
$desaturatedLightBG: #ccc;
$desaturatedLightBGHover: #ddd;
$retroLightBG: #030;
$retroLightBGHover: #040;



$colorLightGray: #eee;

// $colorTan: rgb(233, 226, 190);
$colorTan: $lightBG;

$fontFG: #fdfde3;
$desaturatedFontFG: #fefefe;
$retroFontFG: #0c0;

$headerFooterBG: rgb(243, 108, 32); // rgb(83, 44, 127);
$headerFooterFG: #fff;
$headerFooterSecondary: rgb(46, 110, 165) ;
$headerFooterSecondaryHover: rgb(46, 110, 165);
$bodyBG: #fff;
$bodyFG: #333;

$primaryBG: rgb(46, 110, 165) ;
$primaryBGHover: rgb(46, 110, 165) ;
$primaryTextFG: #fff;

$desaturatedPrimaryBG: #666;
$desaturatedPrimaryBGHover: #999;
$desaturatedPrimaryTextFG: #fff;

$retroPrimaryBG: #090;
$retroPrimaryBGHover: #0c0;
$retroPrimaryTextFG: #000;

$disabledTextFG: #999;

$darkenedBG: rgba( 0, 0, 0, .25);
$darkenedGreenBG: rgba( 0, 66, 0, .25);

$secondaryBG: #725616;
$secondaryBGHover: #88671c;
$secondaryTextFG: #333;

$desaturatedSecondaryBG: #444;
$desaturatedSecondaryBGHover: #666;
$desaturatedSecondaryTextFG: #fff;

$retroSecondaryBG: #060;
$retroSecondaryBGHover: #080;
$retroSecondaryTextFG: #fff;

$textSectionBG: #222;
$textSectionFG: #fff;

$colorRed: #900;
$colorBlue: #00e;
$colorGreen: #090;