/* Dice and Symbols */
@font-face {
    font-family: 'Genesys';
    src: url('./fonts/genesys-font.woff');
}
.symbols {
    font-family: Genesys;
}
@font-face {
font-family: 'EOTE';
src: url('./fonts/eote-font.woff');
}
.dice {
    font-family: EOTE;
}
.setback {
    font-family: EOTE;
    color: black;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}
.note .setback, .note .boost, .note .challenge, .note .proficiency, .note .difficulty, .note .ability {
    text-shadow: -1px 0 #ffffff,0 1px #ffffff,1px 0 #ffffff,0 -1px #ffffff;
}
.note  td > .setback, .note td > .boost, .note td > .challenge, .note td > .proficiency, .note td >  .difficulty, .note td.ability {
    text-shadow:  -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}
.boost {
    font-family: EOTE;
    color: #76CDDB;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}
.challenge {
    font-family: EOTE;
    color: #751317;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}
.proficiency {
    font-family: EOTE;
    color: #FEF035;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}
.difficulty {
    font-family: EOTE;
    color: #52287E;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}
.ability {
    font-family: EOTE;
    color: #46AC4E;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}